@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
h1 {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}
.display, body {
  background-color: #d8ecfb;
}
.wrapper {
  max-width: 600px;
  margin: 20px auto;
  /*padding: 35px 15px;*/
  text-align: center;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 1rem 2.5rem rgb(147 157 168 / 22%), 0 0 0 0.1rem rgb(103 110 144 / 4%);
}
.messages {
  padding: 10px 15px;
}
.title {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-between;
}
.header{
  background-color: #125589;
  min-height: 100px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sort {
  display: flex;
  width: 91%;
  margin: 0 auto;
  padding: 30px 10px 15px;
  justify-content: space-between;
  align-items: baseline;
}
.sort .fas {
  margin-right: 10px;
}
.sort select {
  padding: 5px 15px;
  border-radius: 7px;
  background-color: #fff;
}
.messages--container {
  padding: 20px 10px 35px;
}
.card {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
.far {
  color: #333;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.side {
  width:21%;
}
.main {
  width: 77%;
  flex-direction: column;
  padding: 0 10px;
}
.main--top {
  display: flex;
  justify-content: space-between;
}
.timestamp {
  text-align: left;
  font-size: 13px;
}
.content {
  text-align: left;
  margin-top: 23px;
}
.page--number-wrap {
  margin-top: 20px;
}
.page--number {
  list-style: none;
  display: inline-block;
  padding: 5px 15px;
}
.page--link {
  color: #333;
  text-decoration: none;
}
.highlight {
  font-weight: 800;
}
.userId {
  border-radius: 50px;
  color: #16130e;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  width: 95px;
  height: 95px;
  padding: 11px;
  overflow: hidden;
}
.yellow {
  background-color: #fcd25c;
}
.green {
  background-color: #77b8a0;
}
.pink {
  background-color: #f4ade9;
}
.blue {
  background-color: #adb6d7;
}
.orange {
  background-color: #ff760e;
}
@media (max-width: 768px){
  .userId {
    width: 95%;
    height: auto;
  }  
}